<div class="container">
  <h1>All my tasks</h1>
<% @tasks.each do |task| %>
  <% if task.completed %>
    <li><h3>[X] <%= link_to task.title, task_path(task) %></h3></li>
  <% else %>
  <li><h3>[ ] <%= link_to task.title, task_path(task) %></h3></li>
  <% end %>


<% end %>

  <%= link_to "Add a new task", tasks_new_path  %>


</div>
